.section-1 {
    padding-inline: 40px;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: var(--background-gray);
    border-radius: 10px;
    margin-bottom: 120px;
}

table .product {
    border: 1px solid var(--border-or-devider-dark-bg);
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-radius: 10px;
}

table .product:last-of-type {
    border-bottom: unset;
}

tr th {
    color: var(--text-black);
    font-feature-settings: 'liga' off;
    font-family: var(--font-Golos);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.24px;
    text-align: left;
    padding-block: 16px;
    padding-inline: 8px;
    border-bottom: 1px solid var(--border-or-devider-dark-bg);
    border-left: 1px solid var(--border-or-devider-dark-bg);
}

tr th:first-child {
    border-left: unset;
}

tr td img {
    max-width: 100px;
    margin: auto;
    border-radius: 8px;
}

tr td {
    padding-inline: 8px;
    padding-block: 16px;
    color: var(--text-black);
    font-feature-settings: 'liga' off;
    font-family: var(--font-Golos);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.24px;
    text-align: left;
    border-inline: 1px solid var(--border-or-devider-dark-bg);
}

tr td:first-child {
    border-left: unset;
}

tr td:last-child {
    border-right: unset;
}

tr .plus-number {
    display: flex;
    justify-content: center;
    gap: 10px;
    border: unset;
    transform: translateY(25%);
}

tr .plus-number input {
    max-width: 50px;
    background-color: #caccd1;
    border: unset;
    border-radius: 8px;
    padding: 8px;
    color: var(--text-black);
    font-family: var(--font-Golos);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.24px;
}

.plus-number .plus-minus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plus-minus span {
    cursor: pointer;
    width: 16px;
    height: 16px;
    text-align: center;
    color: var(--text-black);
}

/* form */
.send-message-form {
    background-color: var(--background-black);
    border-radius: 8px;
    padding: 20px;
    gap: 20px;
    padding-block: 40px;
    margin-bottom: 60px;
}

.send-message-form .all-information {
    display: flex;
    justify-content: space-around;
    margin-bottom:30px;
}

.all-information .user-info {
    max-width: 300px;
    width: 100%;
}

.all-information .user-info.deliver {
    max-width: 350px;
}

.send-message-form .finall-submit {
    text-align: right;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width:100%;
    margin-left:auto;
}
.finall-submit .sum , .finall-submit .delivery-sum{
    color:var(--text-white);
    font-family: var(--font-Golos);
    font-size: 14px;
    font-style: normal;
    line-height: 14px;
    letter-spacing: 0.24px;
}
.user-info .user-info-title {
    color: var(--background-gray);
    font-family: var(--font-Golos);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
}

.form-field-wrap .send-message-input {
    background: unset;
    border: none;
    border-bottom: 2px solid var(--text-white);
    width: 100%;
    border-radius: 8px;
    color: var(--text-gray-dark-bg);
    font-family: var(--font-Golos);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.form-field-wrap textarea {
    resize: none;
    min-height: 100px;
    border-bottom: 2px solid var(--text-white)
}

.form-field-wrap .send-message-input {
    padding-inline: 10px;
}

.form-field-wrap .send-message-label {
    left: 10px
}

.send-message-form .form-field-wrap:last-of-type {
    margin-bottom: unset;
}

.delivery-methods {
    display: flex;
    align-items: center;
    position: relative;
}

.delivery-methods:not(:last-of-type) {
    margin-bottom: 20px;
}

.delivery-methods .check-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;

}

.delivery-methods .methods {
    display: flex;
    flex-direction: column;
    padding-left: 29px;
}

.methods span {
    color: var(--text-gray-dark-bg);
    font-family: var(--font-Golos);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.delivery-methods .methods::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    background-color: var(--background-gray);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transform: translateY(-50%);
    border: 2px solid var(--background-gray);
    cursor: pointer;
}

.delivery-methods .check-box:checked +.methods::before {
    content: "";
    background-color: var(--background-black);
    border-radius: 50%;
}

/* form */