.section-1 {
    padding-inline: 40px;
}
table {
    border-collapse: collapse;
    width:100%;
    background-color:var(--background-gray);
    border-radius:10px;
    margin-bottom:40px;
}
table .product{
    border:1px solid var(--border-or-devider-dark-bg);
    border-left:transparent;
    border-right:transparent;
    border-top:transparent;
    border-radius:10px;
}
table .product:last-of-type{
    border-bottom:unset;
}
tr th{
    color: var(--text-black);
    font-feature-settings: 'liga' off;
    font-family: var(--font-Golos);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.24px;
    text-align: left;
    padding-block: 16px;
    padding-inline: 8px;
    border-bottom:1px solid var(--border-or-devider-dark-bg);
    border-left:1px solid var(--border-or-devider-dark-bg);
}
tr th:first-child{
    border-left:unset;
}
tr td img {
    max-width: 100px;
    margin: auto;
    border-radius: 8px;
}
tr td{
        padding-inline: 8px;
        padding-block: 16px;
        color: var(--text-black);
        font-feature-settings: 'liga' off;
        font-family: var(--font-Golos);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.24px;
        text-align: left;
        border-inline: 1px solid var(--border-or-devider-dark-bg);
}
tr td:first-child {
    border-left:unset;
}
tr td:last-child{
    border-right:unset;
}
tr .plus-number {
    display:flex;
    justify-content: center;
    gap: 10px;
    border:unset;
    transform: translateY(25%);
}

tr .plus-number input {
    max-width: 50px;
    background-color: #caccd1;
    border: unset;
    border-radius: 8px;
    padding: 8px;
    color: var(--text-black);
    font-family: var(--font-Golos);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.24px;
}
.plus-number .plus-minus{
    display:flex;
    flex-direction: column;
    align-items: center;    
}
.plus-minus span{
    cursor: pointer;
    width: 16px;
    height: 16px;
    text-align: center;
    color: var(--text-black);
}
.sum{
    font-family: var(--font-Golos);
    font-size: 14px;
    font-style: normal;
    line-height: 14px;
    letter-spacing: 0.24px;
    text-align: right;
    width:100%;
}